@import '../../../assets/vars';

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: $font-18;
    color: $font-color;
    border-bottom: 1px solid $primary;

    .todo-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        @media(width <= 768px) {
            white-space: normal;
        }
    }

    @media (width <= 460px) {
        gap: 20px;
    }
}

.todo-title-completed {
    text-decoration: line-through;
}