* {
    padding: 0;
    margin: 0;
}

body {
    background: #A4C3B2;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    @media (max-width: 768px) {
        padding: 10px 20px;
    }
}

.Error {
    color: red;
    text-align: center;
}